autopep8==1.4
coverage==4.5.1
Flask==1.0.2
Flask-HTTPAuth==3.2.4
Flask-RESTful==0.3.6
Flask-Testing==0.7.1
pep8==1.7.1
pytest==3.8.2
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2

